
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ page.header }}
        </div>
    </div>
</div>

<div class="container">
    {{ page.promoted }}
    <div class="row">
        <div class="col-sm-8">
            {{ page.content }}
        </div>
        <div class="col-sm-4">
            {{ page.sidebar }}
        </div>
    </div>
</div>

<div class="footer">
    {{ page.footer }}
</div>